#gamePlayBoard {
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: 80vh;
  margin: 5vh 3vw;
}

.boardTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.boardBottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.completionPiles {
  display: flex;
  flex-direction: row;
}
