.card {
  background-color: greenyellow;
}

.card,
.emptyCardPile,
.faceDownCard {
  border-radius: 3px;
  border: 2px solid;
  height: 20vh;
  width: 5vw;
  margin-right: 1vw;
}

.faceDownCard {
  background-color: blueviolet;
}

.layoutFaceDownStack {
  display: flex;
  justify-self: flex-start;
  z-index: 0;
}
