.card {
  background-color: greenyellow;
}

body {
  background-color: white;
}

.card,
.emptyCardPile,
.faceDownCard {
  border-radius: 3px;
  border: 2px solid;
  height: 100px;
  width: 70px;
  margin-right: 1vw;
}

.faceDown {
  background-color: blueviolet;
}

.layoutPile .faceDown {
  position: absolute;
  top: initial;
  z-index: 0;
  margin-top: 5vh;
}

.layoutPile .faceUp {
  position: absolute;
  top: initial;
  z-index: 1;
  /* top: 35vh; */
  margin-top: 5vh;
}
