#gamePlayBoard {
  display: flex;
  width: 100vw;
  height: 100vh;
}

#gamePlayDeck {
  width: 25vw;
  height: 25vh;
  display: flex;
  margin: 5vh 3vw;
}

#deckFaceDownCards {
  justify-content: left;
}

#deckFaceUpCards {
  display: flex;
  flex-direction: row;
  margin-left: 3vw;
}

.card {
  background-color: green;
}

.card,
.emptyCardPile,
.faceDownCard {
  border-radius: 3px;
  border: 2px solid;
  height: 20vh;
  width: 5vw;
  margin-right: 1vw;
}

.faceDownCard {
  background-color: blueviolet;
}

#deckFaceUpCards .card {
  margin-left: -3vw;
}
