#gamePlayDeck {
  width: 25vw;
  height: 25vh;
  display: flex;
}

#deckFaceDownCards {
  justify-content: left;
}

#deckFaceUpCards {
  display: flex;
  flex-direction: row;
}

#deckFaceUpCards .card {
  margin-right: -3.5vw;
}
